<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src="https://kit.fontawesome.com/0f031655d5.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <main>
        <h1>TODO App</h1>
        <form action="/create-task" method="post">
            <div id="description-container">
                <label for="description">DESCRIPTION</label>
                <input type="text" id="description" name="task_name" placeholder="What do you need to do?">
            </div>
            <div id="category-date-container">
                <div>
                    <label for="category">CATEGORY</label>
                    <select name="category" id="category">
                        <option style="display: none;" selected>Choose a category</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div>
                    <label for="due-date">DUE DATE</label>
                    <input type="date" id="due-date" name="due_date">
                </div>
            </div>
            <div id="button-container">
                <button type="submit" id="add-task-button">
                    <span><i class="fa-solid fa-plus" style="font-size: 1.2rem;"></i></span>&emsp;&ensp;
                    <span>ADD TASK</span>
                </button>
                <button type="submit" id="delete-tasks-button" form="delete-tasks">
                    <span><i class="fa-solid fa-trash-can" style="font-size: 1.2rem;"></i></span>&emsp;
                    <span>DELETE TASKS</span>
                </button>
            </div>
        </form>
        <form action="/delete-tasks" method="post" id="delete-tasks">
            <ul>
                <% for(let i=0; i<tasks.length; i++){ %>
                    <li class="task-item">
                        <div>
                            <input type="checkbox" name=<%= i.toString() %> value="<%= tasks[i]._id %>">
                            <label><%= tasks[i].task_name %></label>
                            <p>
                                <span><i class="fa-solid fa-calendar-days"></i></span>
                                <span><%= (tasks[i].due_date).toString().slice(4,10)+', '+(tasks[i].due_date).toString().slice(10,16) %></span>
                            </p>
                        </div>
                        <div class="category" data-category=<%= tasks[i].category %>>
                            <%= tasks[i].category %>
                        </div>
                        <div>
                            <a href="/delete-single-task/?id=<%= tasks[i]._id %>">
                                <i class="fa-solid fa-circle-xmark" style="color: red; font-size: 1.2rem;"></i>
                            </a>
                        </div>
                    </li>    
                <% } %>
            </ul>
        </form>
    </main>

    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>>