<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src="https://kit.fontawesome.com/0f031655d5.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <main>
        <h1>TODO App</h1>
        <form action="/create-task" method="post">
            <div id="description-container">
                <label for="description">DESCRIPTION</label>
                <input type="text" id="description" name="title" placeholder="What do you need to do?">
            </div>
            <div id="category-date-container">
                <div>
                    <label for="category">CATEGORY</label>
                    <select name="category" id="category">
                        <option selected>Choose a category</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div>
                    <label for="due-date">DUE DATE</label>
                    <input type="date" id="due-date" name="due_date">
                </div>
            </div>
            <div id="button-container">
                <button type="submit" id="add-task-button">
                    <span><i class="fa-solid fa-plus" style="font-size: 1.2rem;"></i></span>&emsp;&ensp;
                    <span>ADD TASK</span>
                </button>
                <a href="/delete-task">
                    <button type="submit" id="delete-task-button">
                        <span><i class="fa-solid fa-trash-can" style="font-size: 1.2rem;"></i></span>&emsp;
                        <span>DELETE TASKS</span>
                    </button>
                </a>
            </div>
        </form>
        <ul>
            <% for(let task of tasks){ %>
                <li class="task-item">
                    <input type="checkbox" id=<%= task._id %>>
                    <label for=<%= task._id %>><%= task.title %></label>
                    <p>
                        <span><i class="fa-solid fa-calendar-days"></i></span>
                        <span><%= task.due_date %></span>
                    </p>
                    <div>
                        <%= task.category %>
                    </div>
                </li>    
            <% } %>
        </ul>
    </main>

    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>>